*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

    font-family: 'Georama', sans-serif;
}

.wrapper {
    background: #E5E5E5;
    width: 100%;
        .container {
            width: 90%;
            margin: 0 auto;
                .header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding:50px 0;
                        .header__logo {
                            width: 75px;
                            height: 58px;
                        }

                        .header__text {
                            ul {
                                display: flex;
                                    li {
                                        margin: 0 25px;
                                            a {
                                                font-style: normal;
                                                font-weight: 500;
                                                font-size: 16px;
                                                line-height: 23px;
                                                color: #303948;
                                            }
                                    }
                            }
                        }
                }

                .hero {
                    .about__us {
                        position: relative;
                        bottom: 100px;
                    }
                       .hero__content {
                           display: flex;
                           justify-content: space-between;
                           align-items: center;
                           height: 830px;;
                           width: 100%;
                           background-image: url(./Background.jpg);
                           background-repeat: no-repeat;
                           background-size: cover;
                           border-radius: 30px;
                           overflow: hidden;
                        .hero__text{
                            margin-left: 80px;
                            margin-top: 150px;
                            h1 {
                                font-style: normal;
                                font-weight: bold;
                                font-size: 50px;
                                line-height: 71px;
                                color: #FFFFFF;
                                padding-bottom: 28px;
                            }
                            p {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 18px;
                                line-height: 26px;
                                color: #FFFFFF;
                                padding-bottom: 50px;
                                opacity: 0.8;
                            }

                            a {
                                font-family: Gordita;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 22px;
                                line-height: 31px;
                                color: #303948;
                                background: #FAFAFA;
                                border-radius: 35px;
                                width: 264px;
                                height: 67px;
                                padding: 20px 50px;
                                    &:hover {
                                        color: #FAFAFA;
                                        background-color: #303948;
                                        transition: 0.6s ease;
                                        -webkit-box-shadow: 2px 2px 14px 6px rgba(0,0,0,0.33); 
                                        box-shadow: 2px 2px 14px 6px rgba(0,0,0,0.33);
                                    }
                            }
                        }

                        .hero__img {
                            img {
                                width: 678px;
                                height: 836px;
                            }
                        }
                       }
                }

                .client {
                    h1 {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 36px;
                        line-height: 51px;
                        text-align: center;
                        color: #303948;
                    }

                    p {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 26px;
                        text-align: center;
                        color: #303948;
                        padding-top: 25px;
                        padding-bottom: 60px;
                    }

                    .logos {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-bottom: 100px;
                            img {
                                margin: 0 27px;
                            }
                    }

                    
                }

                .solution {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 150px;
                    .sol__img {
                        margin-top: 50px;
                        background-image: url(../Client__img/Background__bus.png);
                        background: #E5E5E5;
                        border-radius: 35px;
                        width: 522px;
                        height: 743px;
                        position: relative;
                        left: 92px;
                        bottom: 80px;
                            img {
                                position: relative;
                                right: 46px;
                            }
                            .dot__grid {
                                position: relative;
                                bottom: 900px;
                                left: 400px;
                            }

                            .ellipse {
                                position: relative;
                                bottom: 500px;
                                right: 320px;
                            }
                    }

                    .sol__text {
                        img {
                            width: 48px;
                            height: 48px;
                        }
                       
                        .who {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 26px;
                            color: #303948;
                        }

                        .spec {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 36px;
                            line-height: 51px;
                            color: #14213D;
                            padding: 14px 0;
                        }

                        .some {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 18px;
                            line-height: 26px;
                            color: #59616D;
                            
                        }

                       .sol__flex {
                           padding-top: 95px;
                            display: flex;
                            justify-content: space-between;
                        .first {
                            .first__flex {
                                display: flex;
                                align-items: center;

                                p {
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 23px;
                                    color: #303948;
                                    margin-left: 15px;
                                }

                                img {
                                   position: relative;
                                   right: 10px;
                                }
                            }
                            p {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 18px;
                                line-height: 26px;
                                color: #59616D;
                                margin-top: 20px;
                            }
                        }
                       }

                       .second__sol-flex{
                           padding-top: 96px;
                           display: flex;
                           justify-content: space-between;
                            img {
                                margin-bottom: 26px;
                            }
                       }
                    }
                }

                .how {
                    margin-top: 150px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                        .left__how {
                            h1 {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 36px;
                                line-height: 51px;
                                color: #303948;
                            }

                            p {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 18px;
                                line-height: 26px;
                                color: #59616D;
                                margin-top: 50px;
                                margin-bottom: 70px;
                            }

                            .see {
                                background: #14213D;
                                border-radius: 35px;
                                width: 262.11px;
                                height: 67px;
                                padding: 18px 68px;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 22px;
                                line-height: 31px;
                                color: #FAFAFA; 
                                    &:hover {
                                        color: #14213D;
                                        background-color: #FAFAFA;
                                        transition: 0.6s ease;
                                        -webkit-box-shadow: -1px 1px 5px 3px rgba(116, 110, 110, 0.89); 
                                        box-shadow: -1px 1px 5px 3px rgba(136, 133, 133, 0.89);
                                    }
                            }
                        }

                        .right__how {
                            img {
                                margin: 22px;
                            }

                        }
                }

                .yellow__grid {
                    position: relative;
                    left: 1035px;
                    bottom: 135px;
                    z-index: -1;
                }

                .yellow__ellipse {
                    position: relative;
                    left: 945px;
                    bottom: 750px;
                }

                .half__ellipse {
                    position: relative;
                    left: 310px;
                    bottom: 390px;
                }

                .product {
                    .upper__product {
                        display: flex;
                        justify-content: space-between;
                        .up__first {
                            p {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 18px;
                                line-height: 26px;
                                color: #59616D;
                            }

                            h1 {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 36px;
                                line-height: 51px;
                                color: #14213D;
                                margin: 14px 0;
                            }
                        }

                        .up__second {
                            display: flex;
                            align-items: center;
                                      img {
                                            &:hover {
                                                transform: scale(1.2);
                                                transition: 0.6s ease;
                                            }
                                     }
                                .right {
                                    position: relative;
                                    top: 20px;
                                }
                               
                        }   
                    }

                    .product__boxes {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 90px;
                        padding-bottom: 200px;
                        .product__box {
                            text-align: center;
                            h1 {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 36px;
                                line-height: 51px;
                                color: #14213D;
                                padding-top: 36px;
                                
                            }

                            p {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 18px;
                                line-height: 26px;
                                color: #59616D;
                                padding-top: 14px;
                                padding-bottom: 46px;
                            }

                            a {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 22px;
                                line-height: 31px;
                                color: #FAFAFA;
                                padding: 18px 68px;
                                width: 262.11px;
                                height: 67px;   
                                background: #14213D;
                                border-radius: 35px;
                                    &:hover {
                                        color: #14213D;
                                        background-color: #FAFAFA;
                                        transition: 0.6s ease;
                                        -webkit-box-shadow: -1px 1px 5px 3px rgba(116, 110, 110, 0.89); 
                                        box-shadow: -1px 1px 5px 3px rgba(136, 133, 133, 0.89);
                                    }
                            }
                        }
                    }
                }

                .testa {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .testa__img {
                        .quad {
                            position: relative;
                            bottom: 390px;
                            right: 450px;
                            z-index: -2;
                        }

                        .tes__ellip {
                            position: relative;
                            bottom: 90px;
                            right: 160px;
                        }

                        .b__grid {
                            position: relative;
                            bottom: 688px;
                            left: 310px;
                            z-index: -3;
                        }

                        .s__grid {
                            position: relative;
                            bottom: 530px;
                            right: 275px;
                        }
                    }

                    .testa__text {
                        
                        h1 {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 36px;
                            line-height: 51px;
                            color: #14213D;
                        }

                        p {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 24px;
                            line-height: 34px;
                            color: #59616D;
                            padding-top: 22px;
                            padding-bottom: 136px;
                        }

                        img {
                            position: relative;
                            left: 250px;
                            margin-right: 40px;
                                &:hover {
                                    transform: scale(1.2);
                                    transition: 0.6s ease;
                                    cursor: pointer;
                                }
                        }
                    }
                }

                footer {
                    background-image: url(../Footer__img/footer__background.png);
                    height: 500px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 30px;
                    margin-bottom: 50px;
                        a {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 20px;
                            line-height: 28px;
                            color: #14213D;
                        }

                        .left__footer {
                            padding-left: 30px;
                            padding-top: 167px;

                            .f__rectangle {
                                position: relative;
                                bottom: 50px;
                                right: 63px;
                            }

                            .f__ellipse {
                                position: relative;
                                bottom: 60px;
                                left: 16px;
                                z-index: 1;
                            }

                            .f__quad-grid {
                                position: relative;
                                top: 200px;
                                right: 175px;
                            }
                                .go {
                                    position: relative;
                                    bottom: 40px;
                                }

                                .raya {
                                   position: relative;
                                   bottom: 7px;
                                }

                                .copy {
                                    margin-top: 183px;
                                    position: relative;
                                    left: 10px;
                                    bottom: 40px;
                                }
                        }

                        .right__footer {
                            display: flex;
                            justify-content: space-between;
                            margin-right: 150px;
                                ul {
                                    li {
                                        margin: 30px 0;
                                    }
                                }
                                .com {
                                    margin-right: 64px !important;
                                    font-style: normal !important;
                                    font-weight: bold !important;
                                    font-size: 20px !important;
                                    line-height: 28px !important;
                                    color: #14213D !important; 
                                }

                                .media {
                                    margin-right: 64px !important;
                                    font-style: normal !important;
                                    font-weight: bold !important;
                                    font-size: 20px !important;
                                    line-height: 28px !important;
                                    color: #14213D !important; 
                                }

                                .rec__bor-radius {
                                    position: relative;
                                    bottom: 260px;
                                    left: 180px;
                                    height: 80px;
                                    width: 80px;
                                }

                                .grid__radius {
                                    position: relative;
                                    bottom: 230px;
                                    left: 143px;
                                }

                                .big__f-rectangle {
                                    position: relative;
                                    top: 35px;
                                    left: 234px;
                                }

                                .colored__rectangle {
                                    position: relative;
                                    right: 15px;
                                }
                        }
                }

                

        }
}   